{% load static %}
<html>

<head>
  <title>My-Qr.art - Your custom QR code</title>
  <meta name="author" content="Marien Raat">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'qr_app/css/style.css' %}">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="welcome-page">
    <div class="welcome-text">
      <main>
        <article class="explanation">
          <div class="qr-placeholder">
            <img class="qr-image" src="{{ qr_image }}" alt="Your QR code" width="100%" />
          </div>
        </article>
      </main>
    </div>
  </div>
  <script>
    console.log("{{ qr_url }}")
  </script>
</body>

</html>